.layoutWrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;

    &.normalPage {
        padding: 4.2rem 0;

        & [class$='PageWrapper'] {
            margin: 0 auto;
            // min-width: 50%;
            width: 60%;
        }
    }
}

.canvasBgWrapper {
    position: absolute;
    inset: 0;
    background-color: $web_bg_color;
    z-index: -1;
}
